<table>
<tr>
<th>Franchise</th>
<th>state</th>
<th>captain</th>
<th>trophies won</th>
</tr>
<tr>
<td>csk</td>
<td>tamil nadu</td>
<td>dhoni</td>
<td>4</td>
</tr>
<tr>
    <td>srh</td>
    <td>telugu states</td>
    <td>kane williamson</td>
    <td>1</td>
</tr>
<tr>
    <td>rcb</td>
    <td>karnataka</td>
    <td>virat kohli</td>
    <td>0</td>
</tr>
</table>

<img src="../assets/csk.jpg"alt="D:\projects\jayGT\jayGT\src\assets"/><br>
<img src="../assets/srh.jpg"alt="D:\projects\jayGT\jayGT\src\assets"/>
<img src="../assets/rcb.jpg"alt="D:\projects\jayGT\jayGT\src\assets"/>


<h1>To order your favourite ipl jerseys click below:</h1>
<button>click here</button>

<h2>To win ipl jerseys fill the form below:</h2>

<form>
    <label>EMAIL:</label><br>
    <input type="text"><br>

    <label>PHONE NUMBER:</label><br>
    <input type="text"><br>

    <input type="radio" name="gender">
    <label>male</label>

    <input type="radio" name="gender">
    <label>female</label><br>


    <h1>Select Jersey</h1>
    <input type="checkbox">
    <label>CSK</label><br>

    <input type="checkbox">
    <label>SRH</label><br>

    <input type="checkbox">
    <label>RCB</label><br>

    <label>email</label>
    <input type="email">

    <label>tel</label>
    <input type="number">
    
  
</form>



city <select id="city" name="city">
<option value="hyderabad">hyderabad</option>
<option value="chennai">chennai</option>
<option value="bangalore">bangalore</option>

</select><br><br>

opinion <textarea>
</textarea>












